.main {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.main .title {
  max-width: 1366px;
  width: 100%;
  padding: 0 10px;
  margin: 50px auto 0;
}

.main .title h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #2b2b2b;
}

.main .title article {
  max-width: 1024px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2b2b2b;
  padding: 10px 0;
}

.main .garant {
  width: 100%;
  background: url(../img/garant.png) center no-repeat;
  background-size: cover;
  padding: 100px 10px 50px;
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.main .garant .garant-title {
  max-width: 450px;
  width: 100%;
  text-align: center;
  background: #FFFFFF;
  border-radius: 17px;
  padding: 25px;
  margin: 40px auto 0;
}

.main .garant h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.main .garant .garant-content {
  max-width: 640px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 40px auto;
}

.main .garant .garant-content h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #000000;
  margin-bottom: 40px;
}

.main .garant .garant-content .garant-about-list {
  text-align: left;
  color: #0a0a0a;
  font-size: 20px;
  margin-bottom: 20px;
}

.main .garant .garant-content .garant-about-list li {
  padding: 5px 0 5px 30px;
  background: url(../img/icons/star.png) center no-repeat;
  background-size: 22px 22px;
  background-position: 0 center;
}

.main .garant .garant-content .garant-block {
  max-width: 600px;
}

.main .garant .garant-content .garant-block h3 {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-top: 20px;
}

.main .garant .garant-content .garant-block .garant-list {
  margin-left: 40px;
}

.main .garant .garant-content .garant-block .garant-list li {
  padding: 20px 15px 20px 50px;
  margin-bottom: 20px;
  max-width: 450px;
  width: 100%;
  background: linear-gradient(91.09deg, #5F24A8 39.53%, #05D2FF 107.7%);
  border-radius: 27px;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .garant .garant-content .garant-block .garant-list .list-img {
  display: inline-block;
  border: 2px solid #5F24A8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 30px 5px rgba(82, 82, 82, 0.25);
          box-shadow: 0px 1px 30px 5px rgba(82, 82, 82, 0.25);
  z-index: 2;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  left: -40px;
}

.main .garant .garant-content .garant-block .garant-list li:nth-child(1) .list-img {
  background: url(../img/icons/icon6.png) center no-repeat, #ffffff;
}

.main .garant .garant-content .garant-block .garant-list li:nth-child(2) .list-img {
  background: url(../img/icons/icon7.png) center no-repeat, #ffffff;
}

@media all and (max-width: 560px) {
  .main .garant .garant-content h3 {
    font-size: 26px;
  }
  .main .garant .garant-content .garant-about-list {
    font-size: 18px;
  }
  .main .garant .garant-content .garant-about-list li {
    background: url(../img/icons/star.png) center no-repeat;
    background-size: 22px 22px;
    background-position: 0 center;
  }
  .main .garant .garant-content .garant-block .garant-list {
    margin-left: 30px;
  }
  .main .garant .garant-content .garant-block .garant-list li {
    padding: 20px 15px 20px 45px;
    font-size: 18px;
  }
  .main .garant .garant-content .garant-block .garant-list .list-img {
    width: 70px;
    height: 70px;
    left: -30px;
  }
  .main .garant .garant-content .garant-block .garant-list li:nth-child(1) .list-img {
    background: url(../img/icons/icon6.png) center no-repeat, #ffffff;
    background-size: 50px 50px;
  }
  .main .garant .garant-content .garant-block .garant-list li:nth-child(2) .list-img {
    background: url(../img/icons/icon7.png) center no-repeat, #ffffff;
    background-size: 50px 50px;
  }
}

@media all and (max-width: 430px) {
  .main .garant h2 {
    font-size: 18px;
  }
  .main .garant .garant-content .garant-about-list {
    font-size: 16px;
  }
  .main .garant .garant-content .garant-about-list li {
    background: url(../img/icons/star.png) center no-repeat;
    background-size: 22px 22px;
    background-position: 0 center;
  }
  .main .garant .garant-content .garant-block .garant-list {
    margin-left: 15px;
  }
  .main .garant .garant-content .garant-block .garant-list li {
    padding: 15px 15px 15px 45px;
    font-size: 15px;
  }
  .main .garant .garant-content .garant-block .garant-list .list-img {
    width: 55px;
    height: 55px;
    left: -15px;
  }
  .main .garant .garant-content .garant-block .garant-list li:nth-child(1) .list-img {
    background: url(../img/icons/icon6.png) center no-repeat, #ffffff;
    background-size: 35px 35px;
  }
  .main .garant .garant-content .garant-block .garant-list li:nth-child(2) .list-img {
    background: url(../img/icons/icon7.png) center no-repeat, #ffffff;
    background-size: 35px 35px;
  }
}

@media all and (max-width: 356px) {
  .main .garant h2 {
    font-size: 18px;
  }
  .main .garant .garant-content h3 {
    font-size: 26px;
  }
  .main .garant .garant-content .garant-about-list {
    font-size: 18px;
  }
  .main .garant .garant-content .garant-about-list li {
    background: url(../img/icons/star.png) center no-repeat;
    background-size: 22px 22px;
    background-position: 0 center;
  }
  .main .garant .garant-content .garant-block .garant-list {
    margin-left: 15px;
  }
  .main .garant .garant-content .garant-block .garant-list li {
    padding: 15px 15px 15px 55px;
    font-size: 15px;
    height: 64px;
    text-align: left;
  }
  .main .garant .garant-content .garant-block .garant-list .list-img {
    width: 65px;
    height: 65px;
    left: -15px;
  }
  .main .garant .garant-content .garant-block .garant-list li:nth-child(1) .list-img {
    background: url(../img/icons/icon6.png) center no-repeat, #ffffff;
    background-size: 40px 40px;
  }
  .main .garant .garant-content .garant-block .garant-list li:nth-child(2) .list-img {
    background: url(../img/icons/icon7.png) center no-repeat, #ffffff;
    background-size: 40px 40px;
  }
}
